altair==6.0.0
anthropic==0.84.0
chatlas==0.15.2
querychat==0.5.1 
duckdb==1.5.0
folium==0.20.0
ibis-framework==12.0.0
ipyleaflet==0.20.0
libsass==0.23.0
matplotlib==3.10.8
numpy==2.4.2
pandas==3.0.0
plotly==6.5.2
python-dotenv==1.2.2
shiny==1.5.1
shinywidgets==0.7.1
uvicorn==0.40.0
pyarrow==23.0.1
pyarrow-hotfix==0.7

# matplotlib==3.10.8
# numpy==2.4.2
# pandas==3.0.0
# plotly==6.5.2
# shiny==1.4.0
# shinywidgets==0.7.1
# uvicorn==0.40.0
# altair==6.0.0
# ipyleaflet==0.20.0
# chatlas==0.15.2
# folium==0.20.0
# python-dotenv==1.2.2
# anthropic==0.84.0
# libsass==0.23.0
# ibis-framework==12.0.0
# duckdb==1.5.0
# pyarrow==23.0.1
# pyarrow-hotfix==0.7
# parsy==2.2
